body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: radial-gradient(#730801,#1f0100);
    overflow: hidden;
}
#marvel{
    color: #fff;
    font-size: 40vh;
    -webkit-text-stroke: 2px #000;
    letter-spacing: -2vh;
    opacity: 0;
    animation: marvel 6s ease 2s forwards;
}
@keyframes marvel{
    0%{
        opacity: 0;
        font-size: 40vh;
        color: rgba(255,255,255,0);
        -webkit-text-stroke-color: #000;
    }
    20%{
        opacity: 1;
        color: rgba(255,255,255,0);
        -webkit-text-stroke-color: #000;
    }
    60%{
        color: rgba(255,255,255,0.5);
        -webkit-text-stroke-color: #000;
    }
    100%{
        opacity: 1;
        font-size: 30vh;
        color: rgba(255,255,255,1);
        -webkit-text-stroke-color: transparent;
    }
}

#bg{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    background-image: url('m1.png');
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    transform: scale(1.8);
    animation: hidebg 9s ease 0s forwards;
}
@keyframes hidebg{
    0%{
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}